<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8">
<meta name="Joice Cristina" content="">
<head>
<link href="css/forms.css" rel="stylesheet">
</head>
<body>

   

    <title>ASSIN - </title>
          
  

    <!-- Bootstrap core CSS-->
        <div id="container">

    <div id="barra-pesquisa">    
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <form class="form-inline my-2 my-lg-0">
          <span>Nome Do Acordo</span>
          <input class="form-control mr-sm-2" type="search">
          <span>Pais</span>
          <input class="form-control mr-sm-2" type="search">
          <span>Data de Assinatura</span>
          <input class="form-control mr-sm-2" type="date">
          <button class="btn btn-dark" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>
    </div>

        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Acordos {{name}}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Pais</th>
                      <th>Continente</th>
                      <th>Data de Assinatura</th>
                      <th>Data de Expiração</th>
                      <th>Controles</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                  </tbody>
                </table>
              
            </div>
           
        </div>
        <!-- /.container-fluid -->

  
      
      </div>
      <!-- /.content-wrapper -->

    </div>
       
         
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    
    <script src="js/front.js"></script>
  </body>

</body>
</html>