
<link href="css\forms.css" rel="stylesheet">

<section id="container">
    <p> Cadastro de Mobilidade Out - Estudantes</p>

    
    <form method="post" action="?pagina=MobOut&metodo=insert" enctype="multipart/form-data">
        <div class="row">
            <div class="row">
            <div class="col">
                <label for="Nome"> Nome do Aluno </label>
                <input type="text" name="EstudanteMobOut_Nome" class="form-control">
            </div>
            <div class="col">
                <label for="Email"> Email </label>
                <input type="email" name="EstudanteMobOut_email" class="form-control">
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="matricula"> Matricula </label>
                    <input type="number" name="EstudanteMobOut_Matricula" class="form-control" required>
                </div>
                <div class="col">
                        <label for="Nome"> Curso </label>
                        <input type="text" name="EstudanteMobOut_Curso" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Campus"> Campus </label>
                    <input type="text" name="EstudanteMobOut_Campus" class="form-control">
                </div>
                <div class="col">
                    <label for="Telefone"> Telefone </label>
                    <input type="number" name="EstudanteMobOut_celular" class="form-control" required>
                </div>

            </div>
        
            
            <div class="row">
                <div class="col">
                <label for="inputState"> Modalidade </label>
                <select name="EstudanteMobOut_Modalidade" id="inputState" class="form-control">
                            <option selected></option>
                            <option >A Distancia</option>
                            <option > Presencial </option>
                        </select>
                </div>
                <div class="col">
                    <label for="inputState">Grau</label>
                    <select name="EstudanteMobOut_Grau" id="inputState" class="form-control">
                        <option selected></option>
                        <option >Graduação</option>
                        <option > Pós-Graduação</option>
                    </select>
                </div>
            </div>
           <div class="row">
            <div class="col">
                <label for="identidade"> Identidade </label>
                <input type="text" name="EstudanteMobOut_identidade" class="form-control">
            </div>
            <div class="col">
                <label for="Programa"> Nome do Programa </label>
                <input type="text" name="EstudanteMobOut_Programa" class="form-control">
            </div>
            </div>
            <div class="row">
                <div class="col">
                        <label for="cpf"> CPF </label>
                        <input name="EstudanteMobOut_cpf" type="text" class="form-control">
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="inputAddress">Endereço</label>
                        <input type="text" name="EstudanteMobOut_endereco" class="form-control" id="inputAddress">
                    </div>
    
                </div>
                
            </div>  
            
               
                <div class="row">
                    <div class="col">
                        <label for=""> Nome do Familiar </label>
                        <input type="text" name="EstudanteMobOut_nomeFamiliar" class="form-control">
                    </div>
                    <div class="col">
                        <label for=""> Grau de Parentesco </label>
                        <input type="text" name="EstudanteMobOut_GrauParentesco" class="form-control">
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="telefone Familiar"> Telefone do Familiar </label>
                        <input type="number" name="EstudanteMobOut_TelefoneFamiliar" class="form-control">
                    </div>
                    <div class="col">
                        <label for=""> Email do Familiar </label>
                        <input type="email" name="EstudanteMobOut_EmailFamiliar" class="form-control">
                    </div>

                </div>
               
           
                <div class="row">
                    <div class="col">
                        <label for="InstitDestino">Instituição de Destino</label>
                        <input type="text" name="EstudanteMobOut_InstituicaoDest" class="form-control">
                    </div>
                    <div class="col">
                        <label for="PaisDestino">País da Instituição</label>
                        <input type="text" name="EstudanteMobOut_PaisDest" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Carta de Aceitação</label>
                            <input class="form-control" name="EstudanteMobOut_CartaAceitacao" type="file">
                        </div>
                    </div>
                    <div class="col">
                        <label for="Arquivo1"> Finalidade do Intercambio </label>
                        <input type="text" name="EstudanteMobOut_FinalidadeIntercambio" class="form-control">
                </div>

                </div>
            
            
            <div class="row">
               
                
            </div>

            <div class="row">
                <div class="col">
                    <div class="aux">
                        <label for="Arquivo1"> Auxilio Financeiro </label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="EstudanteMobOut_auxilioFinanceiro" id="inlineRadio1" value="Sim">
                            <label  class="form-check-label" name="inlineRadio"  for="inlineRadio1">Sim</label><br>
                            <input class="form-check-input" type="radio" name="EstudanteMobOut_auxilioFinanceiro" id="inlineRadio2" value="Não">
                            <label class="form-check-label" name="inlineRadio"  for="inlineRadio1">Não</label>
                                
                            </div>
                        </div>
                    </div>               
                </div>
                <div class="camposExtras">
                    <div class="row">
                        <div class="col">
                            <legend> Tipo de Auxilio</legend>

                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Bolsa da Instituição de Origem
                            </label><br>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Bolsa da Instituição Anfritriã
                            </label><br>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Bolsa de Programas Especificos
                            </label><br>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Auxilio Viagem
                            </label><br>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Auxilio Moradia
                            </label><br>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" id="outro" value="Outro" for="flexCheckDefault">
                                Outros
                            </label><br>

                    
                           
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="teste">
            <div class="row">
                    <div class="col">
                        <label for="Aux">Descreva o Tipo de Auxilio</label>
                        <input type="text" name="EstudanteMobOut_DescTipoAuxilio"  class="form-control">
                    </div>
                </div>
            </div>

           

            <div class="row">
                <div class="col">
                        <label for="Arquivo1"> Data de Saida </label>
                        <input type="date" name="EstudanteMobOut_DataSaida" class="form-control">
                </div>
                <div class="col">
                        <label for="Arquivo1"> Data de Retorno </label>
                        <input type="date" name="EstudanteMobOut_DataRetorno" class="form-control">
                    </div>
                </div>
            

            <div class="butao">
                <button type="submit" class="btn btn-primary">ENVIAR</button>
            </div>
        </div>

    </form>




</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>



<script src="js\front.js"></script>