<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="Joice Cristina" content="">

    <link href="css\forms.css" rel="stylesheet">

</head>
<body>
    

    <section id="container">
        <p>Cadastro de Mobilidade Out - Servidores</p>

        <form>
        <div class="row">
            <div class="row">
            <div class="col">
                <label for="Nome"> Nome do Servidor  </label>
                <input type="text"  value="{{Servidor_Nome}}" class="form-control">
            </div>
            <div class="col">
                <label for="Email"> Email </label>
                <input type="email"  value="{{Servidor_email}}" class="form-control">
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="matricula"> Matricula </label>
                    <input type="text"  value="{{Servidor_Matricula}}" class="form-control" required>
                </div>
                <div class="col">
                    <label for="Campus"> Campus </label>
                    <input type="text"  value="{{Servidor_Campus}}" class="form-control">
                </div>
            </div>
            <div class="row">
                
                <div class="col">
                    <label for="Telefone"> Telefone </label>
                    <input type="text"  value="{{Servidor_celular}}" class="form-control" required>
                </div>
                <div class="col">
                    <label for="identidade"> Identidade </label>
                    <input type="text"  value="{{Servidor_identidade}}" class="form-control">
                </div>

            </div>
        
            <div class="row">
                <div class="col">
                        <label for="cpf"> CPF </label>
                        <input type="text" value="{{Servidor_cpf}}"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Endereço no Brasil</label>
                    <input type="text" value="{{Servidor_endereco}}"  class="form-control" id="inputAddress">
                </div>
                
            </div>  
           
                <div class="row">
                    <div class="col">
                        <label for="InstitDestino">Instituição de Destino</label>
                        <input type="text" value="{{Servidor_InstituicaoDest}}"  class="form-control">
                    </div>
                    <div class="col">
                        <label for="PaisDestino">País da Instituição</label>
                        <input type="text" value="{{Servidor_PaisDest}}"  class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Arquivo1"> Endereço no Exterior </label>
                            <input type="text" value="{{Servidor_EnderExterior}}"  class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <label for="Arquivo1"> Cargo do Servidor </label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected></option>
                            <option name="Servidor_Cargo" value="Tecnico">Tecnico</option>
                            <option name="Servidor_Cargo" value="Servidor">Professor</option>
                          </select>
                      
                    </div>

                    <div class="CargoProfessor">
                        <div class="row">
                            <div class="col">
                                <label for="Arquivo1"> Curso do Professor </label>
                                <input type="text"  name="CursoProfessor" class="form-control">
                            </div>
                            <div class="col">
                                <label for="Arquivo1"> Campus </label>
                                <input type="text"   name="CampusProfessor" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="Arquivo1"> Interesses de Pesquisa </label>
                                <input type="text"  name="InteressesProfessor" class="form-control">
                            </div>
                            <div class="col">
                                <label for="Arquivo1"> Titulação do Professor </label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected></option>
                                    <option name="TitulacaoProfessor" value="1">Mestre</option>
                                    <option name="TitulacaoProfessor" value="2">Doutor</option>
                                    <option name="TitulacaoProfessor" value="3">Pós-Doutor</option>
                                  </select>
                            </div>
                        </div>
                    </div>

                    <div class="CargoTecnico">
                        <div class="row">
                            <div class="col">
                                <label for="Arquivo1"> Setor do Tecnico </label>
                                <input type="text"  name="SetorTecnico" class="form-control">
                            </div>
                            <div class="col">
                                <label for="Arquivo1"> Campus do Tecnico </label>
                                <input type="text"   name="CampusTecnico" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="Arquivo1"> Interesses de Pesquisa </label>
                                <input type="text"  name="InteressesTecnico" class="form-control">
                            </div>
                            <div class="col">
                                <label for="Arquivo1"> Titulação do Professor </label>
                                <select class="form-select" aria-label="Default select example">
                                    <option name="AreaTecnico" selected>Open this select menu</option>
                                    <option name="AreaTecnico" value="1">Mestre</option>
                                    <option name="AreaTecnico" value="2">Doutor</option>
                                    <option name="AreaTecnico" value="3">Pós-Doutor</option>
                                  </select>
                            </div>
                        </div>


                    </div>

                </div>
            
                    <div class="row">
                        <div class="col">
                            <label for="Arquivo1"> Data de Saida </label>
                            <input type="date"  value="{{Servidor_DataSaida}}" class="form-control">
                        </div>
                        <div class="col">
                            <label for="Arquivo1"> Data de Retorno </label>
                            <input type="date"  value="{{Servidor_DataRetorno}}" class="form-control">
                        </div>
                    </div>
          


                
                <div class="butao">
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                </div>
               
        </div>

    </form>

</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>



<script src="js\front.js"></script>
<script src="js\bootstrap.bundle.min.js"></script>
<script src="js\jquery-3.6.0.js"></script>      
 
