<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="Joice Cristina" content="">

    <!-- Custom styles for this template-->
    <!-- <link href="./app/css/Estrutura.css" rel="stylesheet"> -->
    <link href="css\Estrutura.css" rel="stylesheet">
   
    

</head>
<body>

    <div class="imagem-principal">
        <img src="\sistema\assets\images\299787725_559549069291252_4006054961195447827_n.jpg" alt="logo-assin">
    </div>
    
 
       </script>
    <script src="js\front.js"></script>
    <script type="text/javascript" src="js\jquery-3.6.0.js"></script> 
   



</body>
</html>