<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/Estrutura.css">
    <link rel="stylesheet" href="/app/css/forms.css">

    <script src="https://kit.fontawesome.com/4e34a236af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css" />

    <title>Sistema Assin</title>
</head>
<body>
    <section id="container">
        <p> Cadastro de Usuarios</p>
        <form method="post" action="?pagina=User&metodo=insertUser">
        <div class="row">
           
            <div class="col">
                <label for="Nome"> Nome do Usuario</label>
                <input type="Pais" name="NomeInstituicao"  class="form-control" >       
            </div>
        
            <div class="col">
                <label for="Pais">Email</label>
                <input type="Pais" name="PaisInstituicao" class="form-control" >
            </div>
        
        </div>
        <div class="row">
            <div class="col">
                <label for="endereco">Senha</label>
                <input type="text" name="EnderecoInst" class="form-control" >
            </div>
        </div>
        </form>
        </section>
    
</body>
</html>