<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app\css\Login.css">
    <link rel="stylesheet" href="app/css/Estrutura.css">

     <script src="https://kit.fontawesome.com/4e34a236af.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="app\css\bootstrap.min.css" />

    <title>Login ASSIN</title>
    
    </head>
    <header>
      <p id="titulo-principal">
        ASSESSORIA PARA ASSUNTOS INTERNACIONAIS - ASSIN
      </p>
    </header>
<body>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets\images\ufsj_logo.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" action="">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Fazer login no sistema</p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" name="emailUsers" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example3">Endereço de Email</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" name="senhaUsers" id="form3Example4" class="form-control form-control-lg"/>
              <label class="form-label" for="form3Example4">Senha</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Lembre-me
                </label>
              </div>
              <a href="#!" class="text-body">Esqueceu a senha?</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-login">

    
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="background-color: #990100 !important;">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. Todos os direitos reservados.
      </div>
      <!-- Copyright -->
    </div>
  </div>
  </section>
  <script src="js\front.js"></script>
   
    
  <!-- JavaScript Bundle with Popper -->
  <script src="app\js\bootstrap.bundle.min.js"></script>
  <script src="app\js\jquery-3.6.0.js"></script>    
  </script>
  
</body>
</html>




 