<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="Joice Cristina" content="">

    <!-- Custom styles for this template-->
    <!-- <link href="./app/css/Estrutura.css" rel="stylesheet"> -->
    <link href="panel\css\Estrutura.css" rel="stylesheet">
    
</head>
<body>
    <title>Sistema Assin</title>
</head>
<body>
  <header>
    <p id="titulo-principal">
      ASSESSORIA PARA ASSUNTOS INTERNACIONAIS - ASSIN
    </p>
    <div id="Procurar">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Procurar..." aria-label="Procurar">
      </form>

    </div>
   
    <div class="text-end">
      <a href="?pagina=Login"><button type="button" class="btn btn-light">Entrar</button></a>
    </div>
  </header>

  <div class="menu-lateral" style="position: fixed;">
    <div
      class="flex-shrink-0 p-3"
      style="width: 280px; height: 100vh; margin-top: 6.2em; background-color: #333333"
    >
      <a
        href="?pagina=Home"
        class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom"
      >
        <svg class="bi pe-none me-2" width="30" height="24">
          <use xlink:href="#"></use>
        </svg>
        <span class="fs-5 fw-semibold">MENU</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <a class="text-muted" href="?pagina=Home">
          <button
            style="color: #ffff"
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#home-collapse"
            aria-expanded="true"
          >
            Inicio
          </button></a>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            style="color: #ffff"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
          >
            Buscar
          </button>
        </li>

        <li class="mb-1">
          <a class="text-muted" href="/?pagina=MobOut">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            style="color: #ffff"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
            id="mobOut"
          >
            Mobilidade out
          </button> </a>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            style="color: #ffff"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
          >
            Mobilidade in
          </button>
        </li>
        <li class="mb-1">
          <a class="text-muted" href="/?pagina=Acordos">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            style="color: #ffff"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            id="AcordoInternacional"
            aria-expanded="false"
          >
            Acordos Internacionais
          </button></a>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            style="background-color: #ffff"
            data-bs-toggle="collapse"
            data-bs-target="#orders-collapse"
            aria-expanded="false"
          >
            Formularios
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="/?pagina=MobOut&metodo=create"
                  id="MobOutEstudante"
                  class="link-light d-inline-flex text-decoration-none rounded"
                  >Mobilidade out - Estudantes
                </a>
              </li>
              <li>
                <a
                  href="/?pagina=MobOut&metodo=createServidor"
                  id="MobOutProfessor"
                  class="link-light d-inline-flex text-decoration-none rounded"
                  >Mobilidade out - Professores/Tecnicos</a
                >
              </li>
              <li>
                <a
                  href=""
                  id="MobInEstudante"
                  class="link-light d-inline-flex text-decoration-none rounded"
                  >Mobilidade in - Estudantes
                </a>
              </li>
              <li>
                <a
                  href="#"
                  id="MobInProfessor"
                  class="link-light d-inline-flex text-decoration-none rounded"
                  >Mobilidade in - Professores/Tecnicos</a
                >
              </li>
              <li>
                <a
                  href="/?pagina=Acordos&metodo=create"
                  id="AcordoInter"
                  class="link-light  d-inline-flex text-decoration-none rounded"
                  >Acordos Internacionais</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

     <!-- <script src="/js/front.js"></script> -->
     <script src="panel\js\front.js"></script>
   
    
     <!-- JavaScript Bundle with Popper -->
     <script src="panel\js\bootstrap.bundle.min.js"></script>
     <script src="panel\js\jquery-3.6.0.js"></script>      
     </script>
     
   </body>
 </html>
 