<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\Mobilidades.css" rel="stylesheet">
</head>
<body>
    <div class="MobilidadesOut">
       <a class="text-muted" href="/?pagina=MobOut&metodo=GetAllMobOutStudents"> <div class="card text-bg-secondary mb-3" style="width: 25rem;">
            <img src="/assets/images/assin-graf-col.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Mobilidade Out de Estudantes</h5>
            </div>
      </div> </a>
       <a class="text-muted" href="/?pagina=MobOut&metodo=getAllMobOutServidor"> <div class="card text-bg-secondary mb-3" style="width: 25rem;">
                <img src="/assets/images/assin-graf-col.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 style="font-size: 18px;" class="card-title">Mobilidade Out de Professores e Tecnicos</h5>
                </div> </a> 
          </div>
    </div>
   
    
</body>
</html>