<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8">
<meta name="Joice Cristina" content="">
<head>

  <link href="app\css\forms.css" rel="stylesheet">
</head>
<body>

   

    <title>ASSIN -  </title>
          
  

    <!-- Bootstrap core CSS-->
        <div id="container">

        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>

            <div class="card-body">
            </div>
            <!-- <a href="/?pagina=AdminMobOut&metodo=create"> <button type="button"  class="btn btn-primary w-100 mb-3">Cadastrar Servidor em Mobilidade Out</button></a> -->
            <div id="Alerts"></div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nome do Servidor </th>
                      <th>Insituição de Destino</th>
                      <th>Cargo</th>
                      <th>País</th>
                      <th>Data de Saída</th>
                      <th>Data de Retorno</th>
                      
                    </tr>
                  </thead>
                  {% for Servidor in ServidorMobOut %} 
                  <tbody>
                    <td><a href="?pagina=MobOut&metodo=GetMobilidade&id={{Servidor.idServidor}}"> {{Servidor.Servidor_Nome}} </a></td>
                    <td>{{Servidor.Servidor_InstituicaoDest}}</td>
                    <td>{{Servidor.Servidor_Curso}}</td>
                    <td>{{Servidor.Servidor_PaisDest}}</td>
                    <td>{{Servidor.Servidor_DataSaida}}</td>
                    <td>{{Servidor.Servidor_DataRetorno}}</td>
                    
                  </tbody>
                  {% endfor %}
                </table>
              
              </div>
             
            </div>
           
        </div>
        <!-- /.container-fluid -->

  
      
      </div>
      <!-- /.content-wrapper -->

    </div>
       
         
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    
  
    <script src="app\js\front.js"></script>
   
    
    <!-- JavaScript Bundle with Popper -->
    <script src="app\js\bootstrap.bundle.min.js"></script>
    <script src="app\js\jquery-3.6.0.js"></script> 
</body>
</html>