*{
    padding: 0%;
    margin: 0%;
}
*/
 body { overflow-x: hidden; 
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  min-height: 100%;
  text-decoration: none;

}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

header {
    background-color:#990100 !important;
    display: flex;
    height: 100px;
    position:fixed;
    width: 100%;
    z-index: 10;
  }
  
  header p {
    color: #ffff;
    align-items: center;
    margin: 30px;
    padding-left: 35%;
    font-family: 'Zilla Slab', serif;
    font-weight: bolder;
  }

.footer-login{ 
    width: 100%;
    display: block;
    bottom:0;
    position:absolute;
}