<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8">
<meta name="Joice Cristina" content="">
<head>
<link href="panel\css\forms.css" rel="stylesheet">
</head>
<body>

   

    <title>ASSIN -  </title>
          
  

    <!-- Bootstrap core CSS-->
        <div id="container">

        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>

            <div class="card-body">
            </div>
           <a class="text-muted" href="?pagina=AdminAcordos&metodo=create"> <button type="button"  class="btn btn-primary w-100 mb-3">Criar Acordo</button></a>
            <div id="Alerts"></div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                     <th>Nome</th>
                      <th>Pais</th>
                      <th>Continente</th>
                      <th>Data de Assinatura</th>
                      <th>Data de Expiração</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  {% for acord in Acordos %} 
                  <tbody>
                    <td><a class="text-muted" href="?pagina=Acordos&metodo=GetAcordo&id={{acord.idAcordos}}"> {{acord.NomeInstituicao}} </a></td>
                    <td>{{acord.PaisInstituicao}}</td>
                    <td>{{acord.Continente}}</td>
                    <td>{{acord.dataAssinatura}}</td>
                    <td>{{acord.dataExpiracao}}</td>
                    <td>{{acord.AcStatus}}</td>
                  </tbody>
                  {% endfor %}
                </table>
              
              </div>
             
            </div>
           
        </div>
        <!-- /.container-fluid -->

  
      
      </div>
      <!-- /.content-wrapper -->

    </div>
       
         
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    
    <script src="js\front.js"></script>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="js\jquery-3.6.0.js"></script>      
  

</body>
</html>