<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="Joice Cristina" content="">

    <link href="panel\css\forms.css" rel="stylesheet">

</head>
<body>
    <!--  AQUI VAI APARECER 1 ACORDO ESPECIFICO COM A OPÇÃO DE EDITAR OU EXCLUIR -->
    <section id="container">
    <p> Acordo Internacional {{NomeInstituicao}}</p>

    <form method="post" action="">

        <div class="row">
 
        <div class="row">
           
            <div class="col">
                <label for="Nome"> Nome da Instituição</label>
                <input type="Pais" disabled class="form-control" value="{{NomeInstituicao}}">       
            </div>
        
            <div class="col">
                <label for="Pais">País</label>
                <input type="Pais" disabled class="form-control" value="{{PaisInstituicao}}">
            </div>
        
        </div>
        <div class="row">
            <div class="col">
                <label for="endereco">Endereço Completo </label>
                <input type="text" disabled class="form-control" value="{{EnderecoInst}}">
            </div>
                <div class="col">
                    <label for="Continente"> Continente </label>
                    <input type="text"  disabled value="{{Continente}}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                <label for="NomeResp"> Nome do Responsavel </label>
                <input type="text" disabled value="{{NomeResponsavel}}" class="form-control">
                </div>
                <div class="col">
                <label for="funcao"> Função Responsavel </label>
                <input type="text" disabled value="{{FuncaoResponsavel}}"  class="form-control">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                <label for="telefone"> Telefone Responsavel</label>
                <input type="text" disabled value="{{TelefoneResponsavel}}" class="form-control">
                </div>
                <div class="col">
                <label for="email"> Email Responsavel </label>
                <input type="text" disabled value="{{ResponsavelEmail}}" class="form-control">
            </div>
            </div>
           
            <div class="row">
                <div class="col">
                        <label for="status"> Status </label>
                        <input type="text" disabled value="{{AcStatus}}" class="form-control">
                </div> 
                <div class="col">
                    <label for="cobertura"> Area de Cobertura </label>
                    <input type="text" disabled value="{{AreaDeCoberturaAcordo}}" class="form-control" >
                </div>
            </div>
           
            <div class="row">
                    <div class="col">
                    <label for="inputAddress">Nome do Coordenador Do Acordo</label>
                    <input type="text" disabled value="{{NomeCoordenador}}" class="form-control" id="inputAddress">
                    </div>
                    <div class="col">
                        <label for="cobertura"> D.O.U </label>
                        <input type="text" disabled value="{{DOU}}" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="formFile" class="form-label">Numero do Processo</label>
                        <input class="form-control" disabled type="number" value="{{numeroDoProcesso}}" id="formFile">
                    </div>
                    <div class="col">
                        <label for="PaisDestino">Status de Renovação</label>
                        <input type="text" disabled value="{{StatusRenovacao}}" class="form-control">
                    </div>
                </div>
                <div class="row">
                <div class="col">
                        <label for="assinatura"> Data de Assinatura </label>
                        <input type="date" disabled value="{{dataAssinatura}}" class="form-control">
                </div>
                <div class="col">
                        <label for="expiracao"> Data de Expiração </label>
                        <input type="date" disabled value="{{dataExpiracao}}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="formFile" class="form-label">Termos Aditivos</label>
                    <input class="form-control" disabled type="text" value="{{TermosAditivos}}" id="formFile">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="PaisDestino">Periodo de Vigencia</label>
                    <input type="text" disabled value="{{periodoVigencia}}" class="form-control">
                </div>
            </div>
            

            <div class="butao">
              
                <button type="button" class="btn btn-danger"> <a href="/?pagina=AdminAcordos&metodo=Delete&id={{idAcordos}}"> EXCLUIR</button></a>
                <button type="button" class="btn btn-primary"> <a href="/?pagina=AdminAcordos&metodo=Change&id={{idAcordos}}"> EDITAR</button> </a>
            </div>
        </div>

    </form>

</section>
<script src="js\bootstrap.bundle.min.js"></script>
<script src="js\jquery-3.6.0.js"></script>      
   
    
</body>
</html>