<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="Joice Cristina" content="">

    <link href="panel\css\forms.css" rel="stylesheet">

</head>
<body>
    

    <section id="container">
        <p> Mobilidade Out - Servidores</p>

        <form>
        <div class="row">
            <div class="row">
            <div class="col">
                <label for="Nome"> Nome do Servidor  </label>
                <input type="text" disabled value="{{Servidor_Nome}}" class="form-control">
            </div>
            <div class="col">
                <label for="Email"> Email </label>
                <input type="email" disabled value="{{Servidor_email}}" class="form-control">
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="matricula"> Matricula </label>
                    <input type="text" disabled value="{{Servidor_Matricula}}" class="form-control" required>
                </div>
                <div class="col">
                    <label for="Campus"> Campus </label>
                    <input type="text" disabled value="{{Servidor_Campus}}" class="form-control">
                </div>
            </div>
            <div class="row">
                
                <div class="col">
                    <label for="Telefone"> Telefone </label>
                    <input type="text" disabled value="{{Servidor_celular}}" class="form-control" required>
                </div>
                <div class="col">
                    <label for="identidade"> Identidade </label>
                    <input type="text" disabled value="{{Servidor_identidade}}" class="form-control">
                </div>

            </div>
        
            <div class="row">
                <div class="col">
                        <label for="cpf"> CPF </label>
                        <input type="text" value="{{Servidor_cpf}}" disabled class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Endereço no Brasil</label>
                    <input type="text" value="{{Servidor_endereco}}" disabled class="form-control" id="inputAddress">
                </div>
                
            </div>  
           
                <div class="row">
                    <div class="col">
                        <label for="InstitDestino">Instituição de Destino</label>
                        <input type="text" value="{{Servidor_InstituicaoDest}}" disabled class="form-control">
                    </div>
                    <div class="col">
                        <label for="PaisDestino">País da Instituição</label>
                        <input type="text" value="{{Servidor_PaisDest}}" disabled class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Arquivo1"> Endereço no Exterior </label>
                            <input type="text" value="{{Servidor_EnderExterior}}" disabled class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <label for="Arquivo1"> Cargo do Servidor </label>
                        <input type="text" value="{{Servidor_Cargo}}" disabled class="form-control">
                        </div>

                </div>
            
                    <div class="row">
                        <div class="col">
                            <label for="Arquivo1"> Data de Saida </label>
                            <input type="date" disabled value="{{Servidor_DataSaida}}" class="form-control">
                        </div>
                        <div class="col">
                            <label for="Arquivo1"> Data de Retorno </label>
                            <input type="date" disabled value="{{Servidor_DataRetorno}}" class="form-control">
                        </div>
                    </div>
           

                <div class="butao">
                    <button type="button" class="btn btn-danger"> <a href="?pagina=MobOut&metodo=Delete&id={{idEstudante}}"> EXCLUIR</button></a>
                    <button type="button" class="btn btn-primary"> <a href="?pagina=MobOut&metodo=Mudar&id={{idEstudante}}"> EDITAR</button> </a>
                </div>
        </div>

    </form>

</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>



<script src="js\front.js"></script>
<script src="js\bootstrap.bundle.min.js"></script>
<script src="js\jquery-3.6.0.js"></script>      